$break-tablet: 600px;
$break-desktop: 900px;
$break-ultrawide-width: 2000px;
$break-ultrawide-height: 1600px;

//
// Colors
//

$cold-white: #fcfcff;

$navigation-background-color: $cold-white;
$body-background-color: #dddddf;
$content-background-color: $cold-white;

$major-division-border-color: #ccc;
$minor-division-border-color: lighten($major-division-border-color, 15%);

$active-color: #eee;

$site-column-width: 65ch;

$flat-red: #e74c3c;
$accent-color: $flat-red;

* {
  box-sizing: border-box;
}

nav ul,
nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

::selection {
    background: $accent-color;
    color: $cold-white;
}

@mixin drop-shadow() {
  box-shadow: 0px 2px 5px rgba(0,0,0,.125);
}

.comingSoon {
  color: #888;
  font-style: italic;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;

  color: #333;
  background: $body-background-color;

  font-size: 16px;

  @media screen and (min-width: $break-tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $break-desktop) {
    font-size: 16px;
  }

  @media screen and (min-width: $break-ultrawide-width),
         screen and (min-height: $break-ultrawide-height) {
      font-size: 2vh;
  }

  overflow-x: hidden;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

//
// Fancy links
//

.vertical-center-parent {
  display: table;
  width: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

//
// Layout
//

// Navigation bar
.l-navigation {
  position: relative;
  z-index: 10;
}

// Everything except navigation bar
.l-main {
  position: relative;
  min-height: calc(100vh - 2.5rem;);
  padding-top: .5rem;
  padding-bottom: .5rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}


//
// Central Navigation
//

$navigation-height: 2.5rem;
.navigation {
  @extend .vertical-center-parent;

  border-bottom: 1px solid $major-division-border-color;

  height: $navigation-height;
  line-height: $navigation-height;

  font-size: 1.2rem;
  color: #555;

  background: $navigation-background-color;
}

.navigation-item,
.navigation-logo {
  @extend .vertical-center;
  display: inline-block;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .75rem;
  padding-left: .75rem;
  cursor: pointer;

  &,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.navigation-logo {
  font-weight: bold;

  &:hover {
    // Fake chromatic abberation
    text-shadow: -2px 0px red, 2px 0px cyan;
  }
}

.navigation-item:hover {
  color: $accent-color !important;
}

$front-page-width: 50rem;

//
// Welcome hero
//
.welcomeHero {
  @include drop-shadow();

  position: relative;

  max-width: $front-page-width;
  padding: 1rem;

  background: $cold-white;
  margin-bottom: 1rem;
}

.welcomeHero-picture,
.welcomeHero-text {
  vertical-align: middle;
}

.welcomeHero-picture {
  display: none;

  @media screen and (min-width: $break-desktop) {
    display: inline-block;
    width: 20%;
    padding-right: 1rem;
  }
}

.welcomeHero-text {
  @media screen and (min-width: $break-desktop) {
    display: inline-block;
    width: 80%;
  }
}

.welcomeHero-title {
  color: #555;
}

.welcomeHero-highlight {
  color: $flat-red;
  font-weight: bold;
}


//
// Card group
//
.cardGroup {
  text-align: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

.cardGroup-card {
  @include drop-shadow();

  background: $cold-white;
  max-width: 30rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;

  text-align: left;
}

.cardGroup-card-titles {
  margin-bottom: .25rem;

  h1,
  h2 {
    display: inline-block;
    vertical-align: middle
  }

  h1 {
    font-size: 1.5rem;
    color: #666;
  }

  h2 {
    padding: .5rem;
    font-size: 1rem;
    color: #777;
    font-weight: normal;
  }
}

//
// Article preview
//
.articlePreview {
}

.articlePreview-title {
}

.articlePreview-body {
}

//
// Articles
//
.articleListing {
  height: 100%;
  @media screen and (min-width: $break-desktop) {
    margin-left: auto;
    margin-right: auto;
    width: $site-column-width;
  }
}

$article-item-height: 5rem;

.articlePreview {
  @extend .vertical-center-parent;

  position: relative;

  height: $article-item-height;
  padding-left: $article-item-height;

  // Prevent the padding of inner elements from leaking out
  overflow: hidden;

  background: $content-background-color;

  &:not(:first-of-type) {
    border-top: 1px solid $minor-division-border-color;
  }

  &:hover {
    .articlePreview-title {
        color: $accent-color;
    }
  }

  &:active {
    background: $active-color;
  }
}

.articlePreview-title {
  display: block;
  vertical-align: top;

  width: 90%;

  font-size: 1.2rem;

  color: #222;
  font-weight: normal;
}

.articlePreview-date {
  display: block;

  font-size: 0.8rem;
  color: #555;
  margin-top: .5rem;
}

.articlePreview-details {
  @extend .vertical-center;

  padding-left: .5rem;
}

.articlePreview-flair {
  @extend .vertical-center;

  display: inline-block;
  vertical-align: middle;

  margin-left: -$article-item-height;
  padding: .5rem;

  height: $article-item-height;
  width: $article-item-height;

  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
}

//
// Full article
//

.article {
  @include drop-shadow();

  position: relative;

  background: $content-background-color;
  padding: 1.5rem;

  line-height: 1.58;

  font-size: 1rem;
  font-family: sans-serif;

  max-width: 60ch;
  margin: 0 auto;

  @media screen and (min-width: $break-desktop) {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25vw;
    max-width: 100%;
}

.article a {
    color: $accent-color;
}

.article h1,
.article h2 {
    // Pull down the header for better spacial association
    margin-bottom: -0.5rem;
}

.article h2 {
    color: #444;
    font-size: 1.7rem;

}

// But avoid bullet-points anyway!
.article ul > li {
    list-style-type: square;
}

.article-title {
  color: #444;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

